* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 32px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h2 {
  font-size: 28px;
}

a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.header-section {
  padding: 60px 0;
}

.navbar li {
  padding: 15px 15px;
  cursor: pointer;
  transition: 0.1s;
}
.navbar li:hover {
  background: #b2e5fc;
}
.navbar li a {
  font-size: 22px;
  font-weight: 500;
}

.main-section {
  padding: 70px 0 50px;
  background-image: url("../images/fondo-pag-speciali.jpg");
  background-position: center;
}
.main-section h2 {
  margin-bottom: 10px;
  text-align: left;
  font-weight: 600;
  color: #002d73;
}
.main-section .wrapper-pasta {
  margin: 5px;
  flex-basis: 32%;
}

@media screen and (max-width: 1200px) {
  .main-section .wrapper-pasta {
    flex-basis: 48%;
  }
}
@media screen and (max-width: 768px) {
  .main-section .wrapper-pasta {
    margin: 15px;
    flex-basis: 100%;
  }
}
.main-section.prod {
  position: relative;
  background-image: none;
  background-color: #b8dae4;
}

.product a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 35px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
.product a.prev {
  left: 0;
}
.product a.next {
  right: 0;
}
.product .description {
  font-weight: 600;
  color: #002d73;
  background-color: #b8dae4;
}

.footer-section {
  padding: 90px 0 130px;
  text-align: left;
  color: #848d9b;
  background-image: url("../images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.footer-section h2 {
  font-weight: 600;
}
.footer-section a {
  color: inherit;
}
.footer-section .contacts {
  margin-right: 30px;
  flex-basis: 32%;
}
.footer-section .contacts p,
.footer-section .contacts a {
  font-weight: 600;
  font-size: 0.9rem;
}

.footer-menu {
  flex-grow: 1;
}
.footer-menu div {
  padding: 5px;
  flex-basis: 50%;
}
.footer-menu div.prodotti {
  order: 2;
}
.footer-menu div.collezione-chef {
  order: 1;
}
.footer-menu div h2 {
  margin-bottom: 20px;
}
.footer-menu div li {
  margin-bottom: 10px;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .footer-section .container {
    display: block;
  }
  .footer-section .footer-menu {
    display: block;
  }
}