* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.wrapper-pasta {
  margin: 10px 1%;
  flex-basis: 30%;
}

