* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $main-font;
}

body {
  background-color: $white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 32px;
}

// Img responsive
img {
  max-width: 100%;
  height: auto;
}

// Lists
ul {
  list-style: none;
}

// title
h2 {
  font-size: $h2-font;
}

// CTA
a {
  color: $main-color;
  text-decoration: none;
}

// Responsive container - medium
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

// Responsive container - small
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}