.main-section {
  padding: 70px 0 50px;
  background-image: url('../images/fondo-pag-speciali.jpg');
  background-position: center;
  h2 {
    margin-bottom: 10px;
    text-align: left;
    font-weight: 600;
    color: $title-color;
  }
  .wrapper-pasta {
    margin: 5px;
    flex-basis: 32%;
  }
}

// Responsive main content - medium
@media screen and (max-width: 1200px) {
  .main-section .wrapper-pasta {
    flex-basis: 48%;
  }
}

// Responsive main content - extra small
@media screen and (max-width: 768px) {
  .main-section .wrapper-pasta {
    margin: 15px;
    flex-basis: 100%;
  }
}