.main-section.prod {
  position: relative;
  background-image: none;
  background-color: $bg-product;
}

.product {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 35px;
    background-color: $white-op;
    border-radius: 5px;
    i {
      font-size: 1.2rem;
      color: $white;
    }
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
  .description {
    line-height: 1.6rem;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    color: $title-color;
    background-color: $bg-product;
  }
}

// Responsive product main - medium
@media screen and (max-width: 1200px) {

}

// Responsive product main - extra small
@media screen and (max-width: 768px) {

}