$white: rgba(255, 255, 255, 1);
$white-op: rgba(255, 255, 255, .4);
$bg-product: #b8dae4;

$main-color: #000;
$title-color: #002d73;
$product-color: #b2e5fc;
$footer-color: #848d9b;

$main-font: 18px;
$h2-font: 28px;